@import "../abstracts/colors";
@import "../base/typography";
@import "../abstracts/variables";
@import "../abstracts/mixins";

.about_area {
  padding-bottom: 100px;
}
.about_area_content_img {
  height: auto;
  img {
    border-radius: 86px 24px 0 24px;
    width: 100%;
  }
}
.about_area_content_text {
  h3 {
    margin-bottom: 18px;
    font-size: 37px;
    color: $featuredProducts;
    font-style: normal;
    font-weight: $AppFontWeight;
    line-height: 1.2;
  }
  p {
    font-size: 18px;
    line-height: 26px;
    color: $paragraphColor;
  }
  .icon_area_content {
    margin-top: 30px;
    margin-bottom: 50px;
    .icon_area {
      margin-bottom: 20px;
      @include flex();
      svg {
        font-size: 24px;
        color: $checkIcon;
        margin-right: 15px;
      }
    }
  }
}
