@import '../abstracts/colors';

.account {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  margin-left: 15px;
}

.favorite,
.shopping-cart,
.user {
  svg {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.76);
  }
}
