@import '../abstracts/variables';

.account {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  margin-left: $mailMargin;
  padding-right: 5px;
}

.favorite,
.shopping-cart,
.user {
  svg {
    cursor: pointer;
    font-size: 1.3rem;
    
  }
}
