@import "../abstracts/colors";
@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../base/typography";

.home_page_banner_area {
  @include flex();
  @include mobile() {
    padding-top: 50px;
  }
  @include small-tablet() {
    padding-top: 50px;
  }
}
.home_page_banner_heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}
.home_page_banner_img {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 107px 0 87px 0;
  img {
    border-radius: 60px 8px 8px 8px;
    @include mobile() {
      max-width: 100%;
    }
    @include small-tablet() {
      max-width: 100%;
    }
    @include large-tablet() {
      width: 100%;
    }
    @include desktop() {
      max-width: 100%;
    }
    @include max-resolution() {
      width: 100%;
    }
  }
  @include mobile() {
    padding: 0;
    margin-bottom: 40px;
  }
  @include small-tablet() {
    padding: 0;
    margin-bottom: 40px;
  }
  @include large-tablet() {
    padding: 0;
    margin-bottom: 45px;
  }
}
.home_page_banner_heading {
  h1 {
    margin-bottom: $headingMargin;
    font-size: $bannerHeadingFontSize;
    font-weight: 900;
    line-height: 66px;
    color: $headingColor;
    @include mobile() {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 5px;
    }
    @include small-tablet() {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 10px;
    }
    @include large-tablet() {
      font-size: 40px;
    }
    @include desktop() {
      font-size: 50px;
      line-height: 58px;
    }
    @include max-resolution() {
      font-size: 70px;
      line-height: 80px;
    }
  }
  p {
    margin-bottom: $paragraphMargin;
    font-weight: normal;
    color: $paragraphColor;
    line-height: 1.2;
    @include mobile() {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 22px;
    }
    @include small-tablet() {
      margin-bottom: 15px;
      font-size: $btnPrimaryFontSize;
      line-height: 22px;
    }
    @include large-tablet() {
      font-size: $btnPrimaryFontSize;
    }
    @include desktop() {
      font-size: $btnPrimaryFontSize;
    }
    @include max-resolution() {
      font-size: 20px;
    }
  }
}
.d-lg-block {
  display: block;
  @include mobile() {
    display: none;
  }
  @include small-tablet() {
    display: none;
  }
}
.d-lg-none {
  display: none;
  @include mobile() {
    display: block;
  }
  @include small-tablet() {
    display: block;
  }
}
