@import "../abstracts/mixins";

.brand_area_image {
  cursor: pointer;
  opacity: 0.2;
  filter: grayscale(100%);
  margin: auto;
  transition: 0.3s all linear;
  @include mobile() {
    transition: none;
    text-align: center;
    img {
      display: inline-block !important;
    }
  }
  @include small-tablet() {
    transition: none;
    text-align: center;
    img {
      display: inline-block !important;
    }
  }
}
.brand_area_image {
  &:hover {
    opacity: 1;
  }
}
.brands {
  @include mobile() {
    padding-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @include small-tablet() {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
