@import "../abstracts/mixins";

.brand_area_image {
  cursor: pointer;
  opacity: 0.2;
  filter: grayscale(100%);
  margin: auto;
  transition: 0.3s all linear;
  @include brandImgPos();
}
.brand_area_image {
  &:hover {
    opacity: 1;
  }
}
.brands {
  @include mobile() {
    padding-top: 12%;
    @include brands();
  }
  @include small-tablet() {
    padding-top: 15%;
    @include brands();
  }
  @include large-tablet() {
    padding-top: 10%;
    @include brands();
  }
  @include desktop() {
    @include brands();
  }
}
