/* Position and sizing of burger button */

@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/colors";
@import "../base/typography";
@import "../base/fonts";

.bm-burger-button {
  width: 36px;
  height: 30px;
  display: inline-block;
  margin-left: 30px;
  position: relative;
  #react-burger-menu-btn {
    display: block !important;
    position: relative !important;
  }
  .bm-icon {
    position: absolute;
    top: 0;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: white;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

aside {
  .sidenav {
    li {
      list-style-type: none;
      padding: 10px 0 10px 0;
      a {
        margin-left: 10px;
      }
    }
    .search_bar {
      min-width: 300px;
      display: block;
      padding-bottom: 20px;
      .search_input {
        min-width: auto;
      }
    }
  }
}
.mobile_nav {
  width: 100%;
  .logo {
    flex: 1;
    @include small-tablet() {
      flex: 3;
    }
    .navbar_brand {
      a {
        color: $navBrandColor;
        font-weight: $navBrandFontWeight;
        font-family: $navBrandFontFamily;
      }
    }
  }
  .menu_icons {
    .account {
      margin: 0;
      padding: 0;
      flex: 2;
      div {
        padding-left: 20px;
      }
      flex: 2;
      .shopping-cart {
        position: relative;
        @include flexCenter();
        .cart_qty {
          position: absolute;
          top: -10px;
          right: -14px;
          @include flexCenter();
          width: 19px;
          height: 18px;
          font-size: 10px;
          border-radius: 100%;
          background-color: $btn_primary;
          color: $btnPrimaryText;
        }
      }
    }
  }
  .hamburger_menu {
    flex: 0;
  }
}
