@import "../abstracts/colors";
@import "../abstracts/mixins";

.slick-slider {
  @include desktop() {
    @include slider-settings();
  }
 @include large-desktop() {
   @include slider-settings();
 }
}

button {
  &.slick-arrow::before {
    color: $headingColor;
  }
}

.carousel {
  text-align: center;
}

button {
  &.slick-arrow {
    &.slick-prev {
      left: -5%;
      &::before {
        content: "<";
        font-size: 30px;
      }
    }
    &.slick-next {
      right: -5%;
      &::before {
        content: ">";
        font-size: 30px;
      }
    }
  }
}
