@import "../abstracts/colors";
@import "../base/typography";
@import "../abstracts/mixins";

.customers_review {
  padding-bottom: 100px;
}
.section_title {
  h2 {
    @include title();
    font-weight: $AppFontWeight;
    margin-top: 5%;
  }
}
.customers_review_wrapper {
  position: relative;
  padding: 0 100px;
}
.customers_review_card {
  padding: 25px 20px;
  text-align: center;
  margin: 0 15px;
  border: 1px solid $cardBorder;
  border-radius: 4px;
  p {
    font-size: $btnPrimaryFontSize;
    font-weight: $AppFontWeight;
    line-height: 1.2;
    color: $paragraphColor;
    margin: 0;
  }
  .name {
    margin-top: 20px;
    h6 {
      color: $headingColor;
      font-size: 18px;
      line-height: 1.3;
      margin-bottom: 10px;
      font-weight: $AppFontWeight;
    }
    span {
      font-size: 14px;
      line-height: 1.2;
      color: $paragraphColor;
    }
  }
}
