@import "../abstracts/colors";
@import "../base/typography";

.features {
  padding: 100px 0;
}
.features_wrapper {
  position: relative;
}
.section_title {
  margin-bottom: 50px;
  h2 {
    color: $featuredProducts;
    font-size: $featuredProductsTitle;
    line-height: 1.1;
    text-align: center;
  }
}
