@import "../abstracts/colors";
@import "../base/typography";
@import "../abstracts/mixins";

.features {
  padding: 70px 0;
  @include mobile() {
    padding: 60px 0;
  }
  @include large-tablet() {
    padding: 30px 0;
  }
}
.features_wrapper {
  position: relative;
}
.section_title {
  margin-bottom: 50px;
  width: 100%;
  @include mobile() {
    margin-bottom: 35px;
  }
  h2 {
    @include title();
    @include mobile() {
      background-color: white !important;
      margin: 0 !important;
      font-size: 28px !important;
      padding: 20px 0 !important;
    }
  }
}
.features_more_btn {
  width: 100%;
  margin-top: 65px;
  text-align: center !important;
  @include mobile() {
    margin-top: 40px;
  }
  @include small-tablet() {
    margin-top: 40px;
  }
  @include large-tablet() {
    margin-top: 60px;
  }
}
