@import "../abstracts/colors";
@import "../base/typography";
@import "../abstracts/mixins";

.features {
  padding: 100px 0;
}
.features_wrapper {
  position: relative;
}
.section_title {
  margin-bottom: 50px;
  h2 {
    @include title();
  }
}
