@import "../abstracts/colors";
@import "../base/fonts";
@import "../base/typography";
@import "../abstracts/mixins";

form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.search_input {
  @include flex();
  flex: 3;
  border: 1px solid $paragraphColor;
  border-radius: 20px;
  height: 45px;
  min-width: 406px;
  position: relative;
}

.input_placeholder {
  border: none;
  color: $grey;
  font-family: $AppFontFamily;
  font-weight: $AppFontWeight;
  font-size: $inputFontSize;
  &:focus {
    outline: none;
  }
}
.search_icon {
  color: rgba(0, 0, 0, 0.753);
  cursor: pointer;
  font-size: 20px;
}
input[type="search" i] {
  &::-webkit-search-cancel-button {
    display: none;
  }
}
