@import "../abstracts/variables";
@import "../abstracts/colors";
@import "../layout/grid";
@import "../base/typography";

.product_item {
  margin-bottom: 50px;
}

.popular_products {
  background-color: $popularProductsBg;
  padding: 40px 0 20px 0;
  @include desktop() {
    padding: 20px 0 20px 0;
  }
}

