@import "../abstracts/variables";
@import "../abstracts/colors";
@import "../layout/grid";

.product_item {
  margin-bottom: 50px;
}

.popular_products {
  background-color: $popularProductsBg;
  padding: 100px 0 20px 0;
}
.section_title {
  h2 {
    color: $headingColor;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
  }
}
