@import "../abstracts/variables";
@import "../abstracts/colors";
@import "../layout/grid";
@import "../base/typography";

.product_item {
  margin-bottom: 50px;
}

.popular_products {
  background-color: $popularProductsBg;
  padding: 50px 0 20px 0;
}

.product_category_text {
  h6 {
    color: $headingColor;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 0;
    font-weight: $AppFontWeight;
  }
  span {
    color: $paragraphColor;
    font-size: 14px;
    line-height: 1.3;
  }
}
.product_category {
  margin-bottom: 40px;
  text-align: center !important;
}
