@import "../abstracts/colors";
@import "../abstracts/mixins";

.quantity {
  @include flex();
  margin-bottom: 10px;
  border: 1px solid $cardBorder;
  span {
    padding: 0 15px;
    @include mobile() {
      padding: 0 8px;
    }
  }
  .value {
    border: 0;
    height: 40px;
    padding: 0px;
    width: 53px !important;
    @include flex();
    justify-content: center;
    @include mobile() {
      width: 25px !important;
      height: 25px;
    }
  }
  .arrow {
    color: #333333;
    cursor: pointer;
  }
}
