//Header colors

$black: rgba(0, 0, 0, 0.808);
$grey: rgb(153, 153, 153);
$navBrandColor: rgb(41, 41, 245);


// button colors 
$btn_primary: #335aff;

// Home page banner colors

$headingColor: #2c303e;
$paragraphColor: #989BA7;

// Home page Features colors
$featuredProducts: #1A2224;
