//Header colors
$black: rgba(0, 0, 0, 0.808);
$grey: rgb(153, 153, 153);
$navBrandColor: rgb(41, 41, 245);

// button colors
$btn_primary: #335aff;

// Home page banner colors

$headingColor: #2c303e;
$paragraphColor: #989ba7;
$btnPrimaryText: white;

// Home page Features colors
$featuredProducts: #1a2224;
$features_moreBtn: blue;

//Home page About colors

$checkIcon: #18c294;

// Home page Popular Products colors

$popularProductsBg: rgba(239, 239, 239, 0.4);

// Customers Review Colors
$cardBorder: #efefef;

// Footer colors

$footer_bg: #072227;
$footer_text: #f5f5f5;
$footer_btn_hover: #335aff;

//Account colors

$accountBg: #efefef;
$loginRegisterBg: #ffff;
// User Page
$mainWhite: #ffff;
$lightGrey: #efefee;
$lightTxtColor: #989ba7;
$userPageGrey: #6c757d;
$darkTxtColor: #1a2224;
$activeClr: #50bfb3;
$ratingStarClr: #ffa023;
$loginRegisterBtn: #335aff;
