@import "./colors";
@import "./variables";
@import "./breakpoints";

@mixin all {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin flexSpaceBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin btn {
  transition: 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  user-select: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-transform: uppercase;
}

@mixin btnHover {
  background-color: $btnPrimaryText;
  color: $btn_primary;
}
@mixin card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@mixin space-around {
  align-items: center;
  -webkit-box-align: center;
  justify-content: space-around;
}
@mixin center {
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

@mixin currency-language {
  -webkit-box-align: center;
      align-items: center;
      width: fit-content;
      .stick {
        margin-right: 15px;
      }
}
@mixin brands {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin brandImgPos {
  transition: none;
  text-align: center;
  img {
    display: inline-block !important;
  }
}
// grid mixin

@mixin grid {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

// Section_title mixin
@mixin title {
  color: $featuredProducts;
  font-size: $featuredProductsTitle;
  line-height: 1.1;
  text-align: center;
}

@mixin h6 {
  font-size: 12px;
  text-transform: uppercase;
  line-height: $priceLineHeight;
  color: $paragraphColor;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

@mixin flex {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
@mixin desktop-grid {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}
@mixin slider-settings {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}
@mixin margins {
  margin-right: 12px;
  margin-bottom: 10px;
}
@mixin productShippingBtns {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 24px;
  margin-bottom: 24px;
}
@mixin productShippingParagraph {
  width: 105%;
  font-size: $btnPrimaryFontSize;
  line-height: 1.4;
  color: $featuredProducts;
  margin-left: 6px;
}
@mixin shippingIcons {
  color: rgb(51, 90, 255);
  width: 50px;
  height: 38px;
}

// Footer mixins
@mixin footer_nav_components {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

@mixin footer_nav_h3 {
  letter-spacing: 1px;
  line-height: 30px;
}

@mixin footer_nav_li {
  font-weight: 400;
  line-height: 30px;
  opacity: 0.7;
  cursor: pointer;
  list-style: none;
}

@mixin footer_nav_li_hover {
  opacity: 1;
  color: white;
  transition: $mainTransition;
}

@mixin footer_lorem_text {
  width: 80%;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 30px;
  opacity: 0.7;
}

//Responsive Styles
@mixin responsiveStyle {
  .footer {
    padding: 0 15px;
    .subscribe {
      padding: 30px 0;
      .sub_container {
        flex-wrap: wrap;
        .sub_comment {
          flex: 1 1 250px;
          .slogan {
            text-align: center;
            h2 {
              font-size: 1.4rem;
            }
          }
          .lorem_text {
            font-size: 1rem;
          }
        }
        .sub_input {
          flex: 1 1 250px;
          .sub_mail {
            padding: 10px 8px;
            input,
            button {
              font-size: 0.9rem;
              padding: 6px 10px;
            }
            input {
              padding: 0 8px;
            }
          }
        }
      }
    }

    .footer_nav {
      flex-wrap: wrap;
      padding: 30px 0;
      .footer_nav_container {
        flex-wrap: wrap;
        .footer_logo {
          flex: 1 1 250px;
          h1 {
            font-size: 2rem;
          }
          p {
            font-size: 1rem;
            text-align: left;
          }
        }
        .footer_navbar {
          flex-wrap: wrap;
          gap: 20px;
          flex: 1 1 250px;
          .company_container,
          .account_container,
          .quick_container {
            flex: 1 1 180px;
          }
        }
      }
    }
    .avtor_social_links {
      padding: 15px 0;
      flex-wrap: wrap;
      gap: 20px;
      .copy_right,
      .social_links {
        text-align: center;
        justify-content: center;
        flex: 1 1 250px;
      }
    }
  }
}

// Account
@mixin loginRegisterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 350px;
  border-radius: $borderRadius;
  background-color: $loginRegisterBg;
}

@mixin login_register_flex_style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex: 1;
  border-radius: 4px;
  padding: 50px;
}

@mixin signInHeading {
  font-size: $headingFontSize;
  font-weight: 600;
  margin-bottom: 10px;
}

@mixin account_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 1;
}

@mixin text_filed {
  border-radius: 4px;
  position: relative;
  width: 100%;
}

@mixin input_form {
  height: 48px;
  font-size: 14px;
  border: 1px solid rgba(152, 155, 167, 0.5) !important;
  outline: none;
  border-radius: $borderRadius;
  padding: 20px;
  width: 100%;
}

@mixin input_label_animation {
  top: -7px;
  left: -1px;
  transition: all 0.4s ease;
}

@mixin labels_style {
  font-size: 14px;
  font-weight: 400;
  color: $lightTxtColor;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  pointer-events: none;
  left: 25px;
}

@mixin show_password_label {
  cursor: pointer;
  font-size: 14px;
  color: $lightTxtColor;
}

@mixin account_btn {
  width: 100%;
  background-color: $loginRegisterBtn;
  border-radius: $borderRadius;
  padding: 18px 45px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  color: $loginRegisterBg;
  cursor: pointer;
  border: none;
  outline: none;
}

@mixin account_btn_hover {
  background-color: $loginRegisterBg;
  outline: 2px solid $loginRegisterBtn;
  color: $loginRegisterBtn;
  transition: $mainTransition;
}

// User
@mixin sizeColorBox {
  @include flexCenter();
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

//Responsive
@mixin large-tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-laptop - 1px}) {
    @content;
  }
}
@mixin small-tablet {
  @media (min-width: #{$breakpoint-mobile-M}) and (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-laptop}) and (max-width: #{$breakpoint-laptop-L}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$breakpoint-laptop-L}) and (max-width: #{$breakpoint-4k}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-mobile-M}) {
    @content;
  }
}
