@import "./colors";
@import "./variables";

@mixin all {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//Footer mixins
@mixin footer_nav_components {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

@mixin footer_nav_h3 {
  letter-spacing: 1px;
  line-height: 30px;
}

@mixin footer_nav_li {
  font-weight: 400;
  line-height: 30px;
  opacity: 0.7;
  cursor: pointer;
  list-style: none;
}

@mixin footer_nav_li_hover {
  opacity: 1;
  color: white;
  transition: all 0.5s ease;
}

@mixin footer_lorem_text {
  width: 80%;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 30px;
  opacity: 0.7;
}

// Account
@mixin loginRegisterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: $loginRegisterBg;
}

@mixin login_register_flex_style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex: 1;
  padding: 50px;
}

@mixin signInHeading {
  font-size: $headingFontSize;
  font-weight: 600;
  margin-bottom: 10px;
}

@mixin account_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 1;
}

@mixin text_filed {
  border-radius: 4px;
  position: relative;
  width: 100%;
}

@mixin input_form {
  height: 48px;
  font-size: 14px;
  border: 1px solid rgba(152, 155, 167, 0.5) !important;
  outline: none;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
}

@mixin input_label_animation {
  top: -7px;
  left: -1px;
  transition: all 0.4s ease;
}

@mixin labels_style {
  font-size: 14px;
  font-weight: 400;
  color: $lightTxtColor;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  pointer-events: none;
  left: 25px;
}

@mixin show_password_label {
  cursor: pointer;
  font-size: 14px;
  color: $lightTxtColor;
}

@mixin account_btn {
  width: 100%;
  background-color: $loginRegisterBtn;
  border-radius: 4px;
  padding: 18px 45px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  color: $loginRegisterBg;
  cursor: pointer;
  border: none;
  outline: none;
}

@mixin account_btn_hover {
  background-color: $loginRegisterBg;
  outline: 2px solid $loginRegisterBtn;
  color: $loginRegisterBtn;
  transition: all 0.3s ease;
}
