//Header 
$paddingTopHeader: 1% 8%;
//Home
$paddingTopHomeContent: 5%;
$mailMargin: 10px;
$paragraphMargin: 32px;
$headingMargin: 16px;

//Footer vars
$footer_transition: all 0.5s ease;
$footer_opacity: 0.7;

//Account
$headingFontSize: 32px;
