@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/variables";
.signin,
.signup,
.forget_pass,
.account_settings,
.change_password,
.billing_container {
  @include login_register_flex_style();

  .signin_heading {
    h5 {
      @include signInHeading();
    }
  }

  .form {
    @include account_form();

    .txt_field {
      @include text_filed();
      input {
        @include input_form();
        &:focus ~ label {
          @include input_label_animation();
        }
        &:valid ~ label {
          @include input_label_animation();
        }
      }

      label {
        @include labels_style();
      }
    }
    .pass_show_forget {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .show_pass {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        label {
          @include show_password_label();
        }
      }

      .forg_pass {
        color: $darkTxtColor;
        font-size: 14px;
      }
    }

    .submit_option {
      width: 100%;
      input {
        @include account_btn();
        &:hover {
          @include account_btn_hover();
        }
      }
    }
  }

  .signin_options {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    .or {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;
      color: $lightTxtColor;
    }

    .social_link_options {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
      .soc_link_option {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        align-items: center;
        border: 1px solid $lightTxtColor;
        padding: 12px 18px;
        border-radius: $borderRadius;
        color: $darkTxtColor;
      }
      span {
        line-height: 1.5;
        color: $lightTxtColor;
      }
    }
  }
}

.hr {
  margin-top: 20px;
  height: 1px;
  width: 100%;
  border-top: 0.5px solid $lightTxtColor;
}
.back_to_signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  color: $lightTxtColor;
  font-weight: normal;
  font-style: normal;

  .signup_link {
    color: $darkTxtColor;
    &:hover {
      color: $lightTxtColor;
    }
  }
}

.account_settings,
.change_password {
  border: 1px solid #efefef;
}

// error message in form filed
.required_error {
  font-size: 14px;
  color: $formErrorMsg;
}

// billing component
.combined_txt_field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.dropdown {
  border: 1px solid rgba(152, 155, 167, 0.5) !important;
  border-radius: $borderRadius;
}
