.col-sm-12 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 15px;
}
.col-lg-6 {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.main_container {
  padding: 0 10%;
}

.align_items_center {
  -webkit-box-align: center !important;
  align-items: center !important;
  flex-direction: row;
  display: flex;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-4 {
  -webkit-box-flex: 0;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
