.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-sm-12 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 15px;
}
.col-lg-6 {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.main_container {
  padding: 0 10%;
}

.align_items_center {
  -webkit-box-align: center !important;
  align-items: center !important;
  flex-direction: row;
  display: flex;
}
