@import "../abstracts/mixins";

.col-sm-12 {
  position: relative;
  max-width: 100%;
  padding: 0 15px;
  flex: 0 0 100%;
  -webkit-box-flex: 0;
}
.col-lg-6 {
  @include grid();
}
.main_container {
  padding: 0 10%;
  width: 100%;
  @include mobile() {
    padding: 0 15px;
  }
}

.align_items_center {
  -webkit-box-align: center !important;
  align-items: center !important;
  flex-direction: row;
  display: flex;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.col-md-4,
.col-4 {
  -webkit-box-flex: 0;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  @include mobile() {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.col-lg-3,
.col-md-4,
.col-md-5,
.col-sm-6,
.col-12,
.col-6 {
  @include grid();
}

.col-lg-3 {
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
  @include mobile() {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.col-lg-6 {
  @include desktop() {
    @include desktop-grid();
  }
  @include large-desktop() {
    @include desktop-grid();
  }
  &.order-2 {
    order: 1;
    @include mobile() {
      order: 2 !important;
    }
    @include small-tablet() {
      order: 2 !important;
    }
  }
  &.order-1 {
    order: 2;
    @include mobile() {
      order: 1 !important;
    }
    @include small-tablet() {
      order: 1 !important;
    }
  }
  @include mobile() {
    @include grid();
  }
}
.d-flex {
  display: flex !important;
}
.d-lg-block {
  display: block !important;
}
.d-lg-none {
  display: none;
  @include mobile() {
    display: block;
  }
  @include small-tablet() {
    display: block;
  }
  @include large-tablet() {
    display: block;
  }
}
.d-none {
  display: block;
  @include mobile() {
    display: none !important;
  }
  @include small-tablet() {
    display: none !important;
  }
  @include large-tablet() {
    display: none !important;
  }
}
