@import "../abstracts/mixins";
@import "../abstracts/colors";
@import "../abstracts/variables";

* {
  @include all();
}

.header_top {
  display: flex;
  color: $grey;
  padding: 5px 0;
  background-color: $headerTopBg;
  transition: all 0.3s ease;
  .language_currency {
    @include flex();
    justify-content: space-evenly;
    width: 25%;
  }
  .contact {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }
}
.header_top_wrapper {
  @include flex();
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  @include mobile() {
    justify-content: center;
  }
  @include small-tablet() {
    justify-content: center;
  }
  @include large-tablet() {
    justify-content: center;
    width: 50%;
  }
}
