@import "../abstracts/mixins";
@import "../abstracts/colors";
@import "../abstracts/variables";

* {
  @include all();
}

.header_top {
  display: flex;
  color: $grey;
  padding: 5px 0;
  background-color: $headerTopBg;
  transition: all 0.3s ease;
  @include mobile() {
    font-size: 12px;
    justify-content: space-around;
  }
  @include small-tablet() {
    font-size: 12px;
    justify-content: space-around;
  }
  .language_currency {
    @include flex();
    justify-content: space-evenly;
    width: 25%;
    @include mobile() {
      -webkit-box-align: center;
      align-items: center;
      width: fit-content;
      .stick {
        margin-right: 15px;
      }
    }
    @include small-tablet() {
      -webkit-box-align: center;
      align-items: center;
      width: fit-content;
      .stick {
        margin-right: 15px;
      }
    }
  }
  .contact {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    @include mobile() {
      @include space-around();
    }
    @include small-tablet() {
      @include space-around();
    }
  }
  .main_container {
    .row {
      .col-sm-12 {
        @include mobile() {
          flex: 0 0 90%;
        }
        @include small-tablet() {
          flex: 0 0 66%;
        }
      }
    }
  }
}
.header_top_wrapper {
  @include flex();
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  @include mobile() {
    @include center();
  }
  @include small-tablet() {
    @include center();
  }
  @include large-tablet() {
    width: 50%;
    @include center();
  }
}
