@import '../abstracts/mixins';

* {
    @include all();
}

.header_top {
    display: flex;
    justify-content: space-around;
    .language_currency {
        display: flex;
        justify-content: space-evenly;
        flex: 1;
    }
    .contact {
        flex: 1;
        display: flex;
        justify-content: start;
        gap: 20px;
    }
}
