* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav {
    &.navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

ul {
    &.navbar_ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 6;
    }
}

nav {
 &.navbar {
     .navbar_ul {
         .navbar_ul_li {
             list-style-type: none;
         }
     }
 }
}

.search_input {
    display: flex;
    flex: 4;
}
.account {
    flex: 2;
}