$AppFontWeight: 600;
$navBrandFontWeight: 900;
$inputFontSize: 15px;
$btnPrimaryFontSize: 16px;
$btnPrimaryFontWeight: 500;
$bannerHeadingFontSize: 58px;
$featuredProductsTitle: 40px;
$productPriceFontSize: 20px;
$priceLineHeight: 1.3;
