@import "./abstracts/mixins";
@import "./base/fonts";
@import "./base/typography";

* {
  @include all();
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: $AppFontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  text-align: left;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding: 0 8%;
  height: 100vh;
}
