@import "../abstracts/colors";
@import "../abstracts/variables";
@import "../base/typography";
@import "../abstracts/mixins";

.home_page_content {
  padding-top: $headingMargin;
  @include desktop() {
    padding: 0;
  }
}

.row {
    display: flex;
}
.col-sm-12 {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
}